body {
    background-color: rgb(36, 50, 88);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 120px;
}

.home,
.guest {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the children */
    justify-content: center; /* Vertically center the children */
    text-align: center;
}

.home .btn-container,
.guest .btn-container {
    display: flex; /* Align buttons horizontally */
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Space between buttons */
}

h1 {
    color: white;
    font-size: 3rem;
}

.countingdiv {
    display: flex;
    background-color: black;
    color: rgb(211, 56, 56);
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-top: 0px;
}

.btn {
    border: 1px solid rgb(162, 177, 218);
    background-color: rgb(36, 50, 88);
    color: rgb(162, 177, 218);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

/* Button Click Animation */
.btn:active {
    transform: scale(.95); /* Shrink the button slightly on click */
    background-color: rgb(58, 76, 133); /* Darken the button on click */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)/* Add a subtle shadow on click */
}